/target

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.ini

*.xml

*.log

*.ser

*.lock

.metadata/.plugins/org.eclipse.m2e.core/nexus/c10316134a0dfab7160be52d8da9713a/segments_k

*.gen

*.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_2

.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/timestamp

.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_5r

.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/nexus-maven-repository-index.properties

*.del

*.dat

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

*.xmi

*.prefs

*.tree

*.version

*.resources

*.cpp

*.c

.metadata/.plugins/org.eclipse.equinox.p2.discovery.compatibility/cache/discovery1924886288

src/edu/hacks/good/AuthenticationKeys.java
